# Dependencias de Node
node_modules/

# Archivos de logs y errores
npm-debug.log*

# Archivos del sistema
.DS_Store
.vscode/

# Variables de entorno locales (Frontend)
.venv
.venv.local
.venv.development.local
.venv.test.local
.venv.production.local

__pycache__/
*.pyc
# Construcción de Vite (Frontend)
dist/
dist-ssr/

venv/
*.zip
*.sqlite3
__pycache__/
node_modules