<!DOCTYPE html>
<html>
<head>
    <title>Mesas</title>
</head>
<body>

    <h1>Mesas del Restaurante</h1>

    <ul>
    {% for table in tables %}
        <li>
            Mesa {{ table.table_number }} -
            Capacidad: {{ table.seating_capacity }} personas -
            Ubicación: {{ table.location }} -
            Disponible:
            {% if table.is_available %}
                Sí
            {% else %}
                No
            {% endif %}
        </li>
    {% empty %}
        <li>No hay mesas registradas.</li>
    {% endfor %}
    </ul>

    <a href="/">Inicio</a><br>
    <a href="/menu/">Ver Menú</a><br>
    <a href="/categorias/">Ver Categorías</a><br>
    <a href="/reservas/">Ver Reservas</a>

</body>
</html>